 
@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../fonts/Montserrat/static/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../fonts/Montserrat/static/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat Medium';
  src: url('../fonts/Montserrat/static/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat Regular';
  src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat ExtraBold';
  src: url('../fonts/Montserrat/static/Montserrat-ExtraBold.ttf');
}

*{
  font-family: "Montserrat Regular";
}
.font-bold{
  font-family: 'Montserrat Bold';
}
.font-medium{
  font-family: 'Montserrat Medium';
}
.font-semibold{
  font-family: "Montserrat SemiBold";
}
.font-extrabold{
  font-family: "Montserrat ExtraBold";
}
.bg-blue{
  background: #23A6F0;
}
.cards {
  transform: translateY(-50%);
}